<h3 class="text-white"><i class="fas fa-film"></i> {{ titleMovie }}</h3>
<div class="vh-100" *ngIf="loading === true">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3 mb-5" *ngFor="let movie of movies; let i = index">
      <a class="link-cover" [routerLink]="['/movie', movie.id]" routerLinkActive="router-link-active">
        <figure>
          <img class="img-fluid img-front" [src]="movie.medium_cover_image" [alt]="movie.title">
        </figure>
        <figcaption class="content-cover">
          <i class="fas fa-star"></i>
          <p>{{ movie.rating }} / 10</p>
          <h4 class="mb-0 title-cover">{{ movie.title }}</h4>
          <p class="m-0">{{ movie.year }}</p>
        </figcaption>
      </a>
      <div class="d-flex flex-wrap">
        <span class="badge badge-quality mr-2 mb-2" *ngFor="let quality of movie.torrents">
          <div *ngIf="quality.type === 'bluray'">
            <img src="assets/img/bluray-big-logo.svg" class="img-min"> {{ quality.quality }}
          </div>
          <div *ngIf="quality.type === 'web'">
            <img src="assets/img/grid-world.svg" class="img-min"> {{ quality.quality }}
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
